/* src/components/Navigation.css */
.app-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.app-nav a {
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 400;
  transition: color 200ms;
}

.app-nav a:hover {
  color: #f2e9e4;
}
